@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.responseCall</h1>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSygLwut_Lk6JrzCclt5E1uGxzJSnnYkPHR5A&usqp=CAU" style="height:256px" />



    <h></h>

    @*<input type='button' onclick='location.reload();' value='Refresh Page' />*@  
    
    @*https://forums.asp.net/t/1973679.aspx?html5+button+to+reset+or+refresh+a+page*@
    @*Reference to code*@


</div>

